.navbar {
    margin: 30px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .navbar-brand {
        font-size: 1.3rem;
    }
    .nav-items {
        .item-link {
            padding: 5px;
        }
    }
}
