<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <section>
      <div class="container">
        <div class="hero-icon">
          <div class="profile-image"></div>
        </div>
        <div class="hero-text">
            <h1>Interactive Media Developer</h1>
            <p>Developing software applications with a focus on interactivity to create engaging digital experiences.</p>
        </div>
      </div>
    </section>
    <section class="projects">
      <div class="container">
        <div class="row">
            {% for item in site.data.projects %}
            <div class="col-lg-6 col-md-12">
                <div class="project image-fill" style="background-image: url('{{ item.background }} ');"></div>
            </div>
            {% endfor %} 
        </div>
      </div>
    </section>
  {% include footer.html %}
  </body>
</html>