<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    <section>
      <div class="container">
        <div class="hero-icon">
          <div style="height: 90px; width: 90px; background-color: grey;"></div>
        </div>
        <div class="hero-text">
            <h1>Interactive Media Developer</h1>
            <p>I solve complex problems with creative solutions in emerging technologies.</p>
        </div>
      </div>
    </section>
  </body>
</html>